<div class="content">
  <h1 class="centre">Rock, Paper, Scissors!</h1>
  <p>To play, change the ending of the url to the form:</p>
  <p class="centre">/player1/player2</p>
  <p>Replace 'player1' and 'player2' with the respective player's choice of 'rock', 'paper', or 'scissors'.</p>
  <p>Have fun! 😄</p>
</div>
